{{- if .Values.sparkOperator.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dataplane.fullname" . }}-spark-operator
  labels:
    {{- include "dataplane.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dataplane.fullname" . }}-spark-operator
  labels:
    {{- include "dataplane.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - patch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - sparkoperator.k8s.io
  resources:
  - sparkapplications
  - scheduledsparkapplications
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "dataplane.fullname" . }}-spark-operator
  labels:
    {{- include "dataplane.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "dataplane.fullname" . }}-spark-operator
subjects:
- kind: ServiceAccount
  name: {{ include "dataplane.fullname" . }}-spark-operator
  namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dataplane.fullname" . }}-spark-operator
  labels:
    {{- include "dataplane.labels" . | nindent 4 }}
    app: spark-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "dataplane.selectorLabels" . | nindent 6 }}
      app: spark-operator
  template:
    metadata:
      labels:
        {{- include "dataplane.selectorLabels" . | nindent 8 }}
        app: spark-operator
    spec:
      serviceAccountName: {{ include "dataplane.fullname" . }}-spark-operator
      containers:
      - name: spark-operator
        image: {{ .Values.sparkOperator.image.repository }}:{{ .Values.sparkOperator.image.tag }}
        args:
          - -v=2
          - -namespace={{ .Release.Namespace }}
          - -ingress-url-format={{ .Release.Name }}-spark-ui-{}.{}.svc.cluster.local
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
{{- end }}




